.popup-holder{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 90vh;
    padding-bottom: 10vh;
    background: #f1f1f136;
    z-index: 10000;
  }

  .popup-holder>span{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .popup-holder>span>h1{
    font-size: 15px;
    color: #444;
    text-align: center;
  }

  .timer{
    color: #dc1f28;
  }